body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    /* background: white; */
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

button#playlist-link {
    padding: 10px;
    background-color: #4428a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#playlist-link:hover {
    background-color: #0e113f;
}


#auth-link {
    margin-top: 20px;
    text-align: center;
}

#status-message {
    text-align: center;
    margin-top: 10px;
    color: #007bff;
}