<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Youtify 🎵</title>
</head>
<body>
    <div class="container">
        <h1>Youtify 🎵</h1>
        <p>Convert your favorite YouTube music videos to Spotify playlists!</p>
        
        <form id="playlist-form" action="/"  method="POST">
            <label for="youtube-url">Enter the YouTube URL:</label>
            <input type="text" id="youtube-url" name="youtube-url" value="https://www.youtube.com/watch?v=rMZeKQYLXWc" required>
            
            <label for="playlist-name">Enter the name of the playlist you want to create on Spotify:</label>
            <input type="text" id="playlist-name" name="playlist-name" value="My Playlist" required>
            
            <input type="submit" value="Create my playlist!">
        </form>
        
        <div id="auth-link"></div>
        <div id="status-message">
            <p>{{ auth_status }}</p>
        </div>
        <div id="playlist-link">
            <button href="{{ playlist_url }}" target="_blank">Open my playlist on Spotify</button>
        </div>

    <!-- <script>
        // Placeholder for authentication logic
        document.getElementById('playlist-form').onsubmit = function(event) {
            event.preventDefault();
            const authLink = "<a href='#'>Click me to authenticate!</a>";
            document.getElementById('auth-link').innerHTML = authLink;
            document.getElementById('status-message').innerText = 'Waiting for authentication...';
        };
    </script> -->
</body>
</html>